@import url(general.css);

.btn {
  background-image: radial-gradient(
    var(--secondary-tint),
    var(--secondary-base)
  );
  font-weight: 600;
  color: var(--off-white);
  border: none;
  padding: 1rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  font-size: 1rem;
  text-transform: uppercase;
}

.btn:active {
  opacity: 80%;
}

button.btn:disabled {
  background-color: gray; /* Gray background when disabled */
  color: lightgray; /* Light gray text */
  cursor: not-allowed; /* Change cursor to show it's not clickable */
  opacity: 0.5; /* Optionally make it semi-transparent */
}

.label {
  font-size: 1.5rem;
}

.input {
  background-color: transparent;
  border: 2px solid var(--primary-base);
  padding: 0.5rem;
  font-size: 1rem;
  color: var(--primary-base);
}

.input:focus {
  outline: none;
}

.border-pill {
  min-width: 5rem;
  min-height: 3rem;
  border-radius: calc(5rem / 2);
}

.card {
  width: 8rem;
}

.card img {
  width: 100%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.pop-up-box {
  background-color: var(--off-white);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}
