@import url(/styles/general.css);
@import url(/styles/components.css);

h2 {
  font-size: 1.2rem;
}

.status {
  height: 10vh;
  background-color: var(--off-white);
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}

.logo,
.main-menu-logo {
  font-family: 'Playfair Display SC', serif;
  font-size: 2rem;
  color: var(--secondary-base);
}

.main-game {
  display: flex;
  flex-direction: column;
}

.table {
  height: 70vh;
  background-image: radial-gradient(var(--primary-tint-2), var(--primary-base));
  border-top: 10px solid var(--primary-base);
  border-bottom: 10px solid var(--primary-base);
  display: flex;
  color: var(--off-white);
}

.player,
.dealer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.player {
  width: 50%;
  height: 100%;
  border-right: 10px solid var(--primary-base);
  padding: 2rem;
}

.dealer {
  width: 50%;
  height: 100%;
  display: flex;
  padding: 2rem;
}

.player-cards,
.dealer-cards {
  display: flex;
  gap: 2rem;
}

.actions {
  height: 20vh;
  background-color: var(--off-white);
  display: flex;
  justify-content: space-between;
}

.hit-stand-div,
.bet-div {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: relative;
}

.bet {
  width: 7rem;
  padding-left: 1rem;
}

.bet.wrong-input {
  border: 2px solid var(--secondary-base);
}

.win-lose-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  font-size: 2rem;
  font-weight: 700;
}

.winner {
  color: var(--primary-base);
}

.loser {
  color: var(--secondary-base);
}

.winner-btns {
  display: flex;
  gap: 1rem;
}

.restart-btn,
.continue-btn {
  font-size: 0.8rem;
  text-transform: capitalize;
  border-radius: 30px;
}

.main-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--off-white);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.main-menu-title {
  position: relative;
  padding: 3.5rem 0;
}

.main-menu-author {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 1rem;
  color: rgb(86 86 86);
  font-style: italic;
  font-weight: 600;
}

.main-menu-logo {
  font-size: 5rem;
}

.main-menu-btns {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.start-btn,
.settings-btn {
  border-radius: 30px;
}

.settings-input-div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.settings-input-label {
  font-size: 0.8rem;
  text-transform: capitalize;
  padding-bottom: 0.2rem;
}
